.header-bg {
    background: url('images/Home.png');
    background-repeat: no-repeat;
    height: 1000px;
  
  }

  .nav-item a:hover {
      border-bottom: 1px solid orange;
      width: 40%;
      color: orange !important;
  }

  .nav-item {
   margin: 0 1rem;
  }

  .btn btn-success {
      color: orange;
  }

  .bg-gray{
      border: 1px solid #000000;
      padding: 150px;
    
  }

  .text {
     justify-content: center;
  }

  .container-pm {
      border: 1px solid #000000;
      padding: 150px;
  }