* {
    box-sizing: border-box;
    }
    html, body {
      
        font-family: 'Roboto', sans-serif;
    }
    .header-bg {
        background: url('images/Home.png');
        background-repeat: no-repeat;
        height: 1000px;
      }

      .text-rovs {
          background: url('images/Layer\ 815.png');
         
          background-position: center;
          background-repeat: no-repeat;
      }

  .nav-item a:hover {
      border-bottom: 1px solid orange;
      color: orange !important;
  }

  .nav-item {
   margin: 0 1rem;
  }

  .btn-warning:hover {
    color:white;
  }
  .btn-warning {
    color: white; 
  }
   

  .btn {
    border-radius: 9px;
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
  .btn btn-success {
      color: orange;
  }

  .btn-outline-sucess{
    color:#FFBB00;

      }


  .bg-gray{
      border: 1px solid #000000;
      padding: 150px;
    
  }



  .nav-item a:hover {
    color: orange !important;
    text-decoration: underline;
  }


  .container-pm {
    border: 1px solid #000000;
    padding: 150px;
}
  
  .fas span {
    color: white;
  }
  .btn-outline-light:hover {
    color: grey;
  }
  .about-us-bg {
    background: url('/images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
  }

.features-bg {
    background: url('images/Features.png');
    background-repeat: no-repeat;
    padding: 3rem;
}

.mobile-features img {
    width: 100%;
  }

.grid-wrapper .flex {
    display: flex;
    justify-content: space-around;

}


.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-wrapper img {
    padding: 1rem 1rem 0 0;
    margin: auto;
    
  }

  .mt-4 {
      font-size: 50px;
  }

 .text-row {
     padding-top: 80px;
 margin: 40px;
    text-align: center;
 }

 .screen {
     display: flex;
     justify-content: center;
     padding-bottom: 60px;
 }

 .text-rovs {
border: 1px solid #000;
       text-align: center;
 }

 .text-rovs2 {
     display: flex;
     justify-content: space-between;
 }
 

  @media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
  
    .collapse-my5 {
      display: inline;
    }
  }
   
  @media(min-width: 992px) {
    .container {
        max-width: 960px;
      }
   
    .nav-item {
      padding-right: 2rem;
      }   
   
    .text-pop p {
      margin: 2rem 0;
    }
   
    #showcase .container, #about-us .container {
      display: flex;
    }
   
    #showcase .content {
      text-align: left;
  }
  #showcase {
    margin: 2rem 0;
  }
  #showcase .container, #about-us .container{
    justify-content: space-around;
    padding: 100px;
  }
   
  #showcase .content, #about-us .content {
    align-self: center;
    text-align: center;
  }
   
  #showcase h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: white;
  }
   
  #showcase p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
  }
   
  #showcase img, #about-us img {
    margin: 1rem auto 1rem auto;
    display: block;
    width: 80%;
   
  }

  #about-us img {
      width: 50%;
  }
  
    #showcase img{
      margin-top: 1rem;
      display: flex;
      margin-left: 0;
      margin-right: 0;
      width: 30rem; 
    }
   

    
  .collapse-my5-1 {
    display: inline;
  }
  .collapse-my5, .collapse-my5-1 {
    display: none;
  } 
  
  .about-us-bg {
    background-position: left;
  }

  .my-5 .row{
  margin: 0 2rem;
  padding-top: 80px;
}

  .grid-wrapper .flex {
    display: flex;
    justify-content: space-around;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
   
  @media(min-width: 1200px) {
    .container {
       max-width: 1140px;
      }
   
  }
   
  @media(min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
   
  }